body{
	text-align: left;
	font-family: Garamond, Baskerville, Minion;
	background-color: #d3d3d3;
}
header{
	font-weight: 600;
	text-align: center;
	padding: 10px;
	background-color: #A5C8D6;
}
header img{
	width: 200px;
	height: 200px;
	border: 2px solid #3F4E4F;
	border-radius: 50%;
	margin-bottom: 10px;
}
section{
	margin: 20px;
}
.allprojects{
	width: 200px;
	height: 200px;
	border: 1px solid #ccc;
	margin: 10px;
	display: inline-block;
	text-align: center;
	line-height: 200px;
}
h1, h2{
	color: #3F4E4F;
	font-weight: 1000;
}
#bio, #project{
	background-color: #9bb4bf;
	padding: 15px;
	border-radius: 5px;
}
#bio p{
	text-indent: 20px;
}
footer{
    background-color: #A5C8D6;
    text-align: center;
    padding: 10px;
}
img.imgphone{
	vertical-align: text-bottom;
}
address{
	font-style: normal;
}
